.weekly-calendar {
    border-spacing: 0;
    border-collapse: separate; 
    table-layout: fixed; 
    margin-bottom: 50px;
}
 /* responsive grid 
 .container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-auto-rows: 100px;
}
*/ 

